
.flex {
  display: flex;
}

.margin-1vh {
  margin: 1vh;
}

.sidebar {
  background: #ddffdd;
  min-height: 95vh;
  margin: 1vh;
}

.tab {
  float:left;
  border-color: #000000;
  border: 1px solid;
  border-radius: 0.25em 0.25em 0px 0px;
  font-size: 2em;
}

.tab-header-container {
  display: inline-block;
}

.tab-active {
}

.tab-inactive {
  color: #888888;
}

img {
  height: 20vh;
  width: 20vh;
}